*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: "Noto Sans";
}
header{
    background-color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 80px;
}

footer{
    background-color: black;
    margin: 0 auto;
    width: 100%;
    height: 570px;
    margin-left: 4px;
}

/* layout */

.container{
    /* max-width: 1908px; */
    display: flex;
    margin-top: -3px;
    height: 60px;
}



.content-header{
    padding: 8px;
 }

.col-50{
    width: 50%;
    /* background-color: yellow;
    border: 1px solid black; */
}

h1{
    width: 100%;
}



/* utility */

.font-size{
    font-size: 30px;
}

.font-weight{
    font-weight: 500;
}

.text-right{
    text-align: right;

}

.pt-11px{
    padding-top: 11px;
}


.white{
    color: white;
}

.line-height{
    line-height: 22px;
}


/* page content */

.content-header ul{
    list-style-type: none;
}

.content-header ul li{
    display: inline-block;
    margin-right: 17px;
}

.content-header ul li a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.fa-brands{
    color: blue;
}

.button{
    display: inline-block;
    width: 49px;
    padding: 0 4px;
    background-color: blue;
    text-align: center;
}



.inline-block{
    background-color: aqua;
    width: 100%;
    height: 80%;
}

/* jumbo */


.jumbo-container{
    /* max-width: 1908px; */
    display: flex;
    margin: 0px auto;
    /* background-color: rgb(0, 255, 242); */
    height: 900px;
    justify-content: center;
    margin-top: 72px;
}

.jumbo-img{
    width: 56%;
    position: absolute;
    right: 29px;
    top: 474px;
}

.h-770{
    height: 770px;
}

.width-100{
    width: 100%;
}

.bg-aqua{
    background-color: rgb(127, 189, 255);
}


h1{
    font-size: 85px;
    padding: 54px 7px 5px 64px;
}

.square{
    max-width: 1300px;
    /* background-color: red; */
    height: 905px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
}

.h2-business{
    font-size: 40px;
    padding: 3px 137px;
    font-weight: 600;
}
    

.title{
    width: 100%;
    /* background-color: aquamarine; */
    height: 285px;
}

.jumbo{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.jumbo-text{
    width: 35%;
    /* background-color: rgb(0, 255, 60); */
    height: 558px;
    font-size: 19px;
    padding: 15px 28px 3px 64px;
}

.card-img-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 65%;
    height: 467px;
    margin-top: 17px;
}
.btn-blue{
    background-color: blue;
    margin: 40px 5px 13px;
    height: 67px;
    font-size: 18px;
    border: none;
    padding: 12px;
    width: 235px;
}

.annulla{
    margin: 13px 5px 39px;
}

p{
    color: rgb(88, 88, 88);
}

.arrow-down{
    padding: 5px;
    font-size: 49px;
}






.business-container{
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(0, 255, 55);
    height: 1600px;
    justify-content: center;
}

.contact-container{
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(255, 0, 251);
    height: 700px;
    justify-content: center;
}

.cards-container{
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(0, 13, 255);
    height: 1400px;
    justify-content: center;
}

.final-title-container{
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(225, 255, 0);
    height: 500px;
    justify-content: center;
}



.border{
    border: 1px solid black;
}